
<div class="jumbotron">
    <div class="d-flex">
        <img src="../../../assets/logo.png" height="50px" style="margin-right: 15px"/>
    </div>
  <p class="lead"></p>
  <div class="header-content-inner text-center" style="width: 40em; margin-top: 30vh">
      <h1>Dobrodošli na <span class="text-primary">e</span>UPRAVA</h1>
      <h4 class="font-weight-light">Izbegnite čekanje na šalteru<br>Zakažite svoj termin</h4>
      <a [routerLink]="['/login']" class="btn btn-outline-primary">Prijavi se</a>
  </div>
    
 
</div>


